<!-- Back to top button -->
<button type="button" class="btn btn-dark btn-floating btn-lg" id="btn-back-to-top">
    Вверх
</button>


<div class="footer text-center">
    <div class="container">
        <p style="color:#9d9d9d;">
            Автономная некоммерческая организация <br> <strong>Центр социального обслуживания населения «ДОВЕРИЕ»</strong> (АНО ЦСОН «ДОВЕРИЕ»)
        </p>

        <!-- Кнопка на реестр -->
        <a href="https://uszn.volgograd.ru/postavshchiki-sotsialnykh-uslug/postavshchiki-sotsialnykh-uslug/avtonomnaya-nekommercheskaya-organizatsiya-tsentr-sotsialnogo-obsluzhivaniya-naseleniya-doverie/?ysclid=mcd50x4de684951045" target="_blank" class="btn btn-dark mb-3" rel="noopener noreferrer">
            Упоминание в реестре поставщиков социальных услуг
        </a>

        <!-- Баннеры -->
        <div class="d-flex justify-content-center flex-wrap gap-3 mt-3">
            <a href="https://site1.ru" target="_blank" rel="noopener noreferrer">
                <img src="/images/banners/gosyslygi11.jpg" width="200" height="113" style="border:1px solid black;">
            </a>
            <a href="https://site2.ru" target="_blank" rel="noopener noreferrer">
                <img src="/images/banners/banner2.jpg" width="200" height="113" style="border:1px solid black;">
            </a>
            <a href="https://site3.ru" target="_blank" rel="noopener noreferrer">
                <img src="/images/banners/banner3.jpg" width="200" height="113" style="border:1px solid black;">
            </a>
        </div>
        <p style="color:#9d9d9d;">2025</p>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.3/dist/index.bundle.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Получаем текущий путь страницы
    let currentPath = window.location.pathname;

    // Находим все ссылки в меню
    document.querySelectorAll(".nav-link").forEach(function (link) {
      if (link.getAttribute("href") === currentPath) {
        link.classList.add("active"); // Добавляем класс active
        link.setAttribute("aria-current", "page"); // Делаем ссылку текущей
      } else {
        link.classList.remove("active");
        link.removeAttribute("aria-current");
      }
    });
  });
</script>

<script>
          //Get the button
          let mybutton = document.getElementById("btn-back-to-top");
          
          // When the user scrolls down 20px from the top of the document, show the button
          window.onscroll = function () {
            scrollFunction();
          };
          
          function scrollFunction() {
            if (
              document.body.scrollTop > 20 ||
              document.documentElement.scrollTop > 20
            ) {
              mybutton.style.display = "block";
            } else {
              mybutton.style.display = "none";
            }
          }
          // When the user clicks on the button, scroll to the top of the document
          mybutton.addEventListener("click", backToTop);
          
          function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
          }
</script>
