<div class="footer">
          <div class="container">
                    <p style="color:#9d9d9d;">Creative Commons Attribution 4.0 International license</p>
          </div>
</div>

<script type="module">
          import Lightbox from 'https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/photoswipe-lightbox.esm.min.js';
          const lightbox = new Lightbox({
            gallery: '#my-gallery',
            children: 'a',
            pswpModule: () => import('https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.4/photoswipe.esm.min.js')
          });
          lightbox.init();
</script>
