<nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center p-4" style="border: none; background: none;">
    <div class="container" style="max-width: 960px;">
        <a href="/" class="navbar-brand d-flex w-50 me-auto">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <circle cx="50" cy="50" r="50" />
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/komandovaniye">Командование</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
