<nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center p-4" style="border: none; background: none;">
    <div class="container" style="max-width: 960px;">
        <a href="/" class="navbar-brand d-flex w-50 me-auto">
            <svg width="48px" height="48px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><title>circle</title>
                <circle cx="512" cy="512" r="256" fill="#ffffff" fill-rule="evenodd"/>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/petitsiya">Петиция</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/videoobrashcheniye">Видеообращение</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/otkrytoye_pismo">Открытое письмо</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
