/* stylelint-disable property-no-vendor-prefix */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.cover-container {
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  text-align: left;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.masthead{
  margin-bottom:20px;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 700;
  color: #fff; /* IE8 proofing */
  color: rgba(255, 255, 255, .75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, .25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 700;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255, 255, 255, .5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle; /* Start the vertical centering */
  }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    max-width: 1336px;
  }
}

#content{
  padding:56px 32px 44px 39px;
  background:no-repeat center/cover;
  z-index:1;
  display:flex;
  align-items:flex-start;
  position:relative
}

#content:after {
  position:absolute;
  display:block;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  content:"";
  z-index:-1;
  background:black linear-gradient(180deg,rgba(255,0,0,.81) 0%,rgba(255,0,0,0) 100%);
  opacity:.8;
  transform:scaleY(-1)
}


.block_top {
  background:white;
  text-align:right;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  position:relative;
  height: 72px;  
}
@media (max-width: 767.98px) {
  .block_top {
    margin-bottom:0
  }
}
.block_top:before {
  position:absolute;
  display:block;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  content:"";
  background:url(../assets/texture-grunge.png) repeat;
  mix-blend-mode:exclusion;
  transform:scaleY(-1);
  filter:brightness(3) contrast(5);
  pointer-events:none
}


block__head-photo {
  max-width:210px;
  width:100%;
  height:210px;
  display:inline-flex;
  position:relative;
  margin-right:40px;
  border-radius:122px;
  border:2px solid red;
  padding:10px
}
@media (max-width: 1023.98px) {
  .block__head-photo {
    margin:0 0 20px
  }
}
@media (max-width: 767.98px) {
  .block__head-photo {
    max-width:140px;
    height:140px;
    border:2px solid red;
    border-radius:100%;
    padding:6px
  }
}
.block__head-photo  img {
  border-radius:100%;
  -o-object-fit:cover;
  object-fit:cover;
  width:100%;
  height:100%
}
.block__head-photo {
  display:inline-block;
  max-width:100%
}
@media (max-width: 1023.98px) {
  .block__head-photo {
    text-align:center;
    max-width:100%
  }
}

.block_description {
  margin-bottom:65px;
  width: 80%;
  margin: 0 auto;
}

.lead2 {
  font-size: 16px;
}



.content-container {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  text-align: left;
  max-width: 1280px;

}

.block_main {
  background:white;
  padding:64px 40px 43px;
  margin-bottom:70px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}

.site-wrapper {
  padding: 64px 0 80px;
  color: #000;
  background-color: #191919;
}

.image-slider{
  text-align: center;
  margin: 20px auto;
}

.button-full {
  text-decoration:none;
  text-align: center;
  display:block;
  width:100%;
  color:#fff;
  border:none;
  padding:16px 40px;
  position:relative;
  overflow:hidden;
  transition:background-color .5s ease;
  background-color:#000;
  z-index:0;
  font-weight:500;
  font-size:20px;
  line-height:24px;
  -webkit-appearance:none;
  margin: 20px 0;
}

.button-full:hover {
  color:#red;
  text-decoration:none;
}

  .navbar-toggler {
    color: #fff;
    border-color: none;
  }

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
