---
layout: default
---

<div class="content-container d-flex align-items-center justify-content-center" style="background-color: #191919;">
<div class="card-group">

  <div class="card text-white mb-3 mx-3" style="max-width: 540px; background-color: #000;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div width="100%" height="100%" style="background-image: url({{ "/assets/122.jpg" | relative_url }}); background-size: cover; background-position: center;"></div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: red;"><strong>Кузнецов Алексей Николаевич</strong></h5>
          <p class="card-text" style="color: #646464;"><small class="text-muted">Командир полка</small></p>
          <p class="card-text"><strong>Дата рождения:</strong> 21.06.1989</p>
          <p class="card-text"><strong>Телефон:</strong> +7 964 888 8292</p>
          <p class="card-text">Дагестан, г. Каспийск, ул. Приморская 16е, кв1.; Краснодарский край, г.Темрюк, ул. Свердлова, д. 4.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white mb-3 mx-3" style="max-width: 540px; background-color: #000;">
    <div class="row no-gutters">
      <div class="col-md-4" style="background-image: url({{ "/assets/13.jpg" | relative_url }}); background-size: cover; background-position: center;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="color: red;"><strong>Щепилов Владислав Дмитриевич</strong></h5>
          <p class="card-text" style="color: #646464;"><small class="text-muted">Заместитель командира по военно-политической работе</small></p>
          <p class="card-text"><strong>Дата рождения:</strong> 13.08.1997</p>
          <p class="card-text"><strong>Телефон:</strong> +7 929 672 30 67</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
