---
layout: default
---

<div class="content-container">
      <nav class="block_top"></nav>
      <div class="bs-docs-header" id="content" tabindex="-1" style="background-image: url({{ "/assets/a9d4aaf44f5d487_1280x854.jpg" | relative_url }});">
            <div class="container">
                  <div class="row">
                    <div class="col-md-2">
                        <div class="block__head-photo"><img  alt="Logo" src="{{ "/assets/logo.png" | relative_url }}"></div>
                    </div>
                    <div class="col-md-8" style="color: #fff;">
                        <h5><strong>АНО ЦСОН "ДОВЕРИЕ"</strong></h5>
                        <h1>Центр социального <br> обслуживания</h1>
                        <p>Автономная некоммерческая организация </p>
                    </div>
                  </div>
            </div>
      </div>

      <div class="block_main"> 
            <div class="block_description">
              <h2 class="cover-heading" style="margin-bottom: 24px;"><strong>Пропавшие без вести</strong></h2>
                <p class="lead2">
                  177-й отдельный гвардейский полк морской пехоты активно участвует в боевых действиях на территории Украины, включая операции в Запорожской области и Донецкой Народной Республике. В декабре 2023 года полку было присвоено наименование «гвардейский».
                </p>
                <p class="lead2">
                  С августа 2024 года подразделения полка были задействованы в отражении наступления Вооружённых сил Украины в Курской области, особенно в районах населённых пунктов Суджа, Орловка и Никольский. В ходе этих операций полк понёс потери среди личного состава, о чём свидетельствуют многочисленные посмертные награждения военнослужащих государственными наградами.
                </p>
                <p class="lead2">
                  Семьи погибших и пропавших без вести военнослужащих, обеспокоенные отсутствием информации, формируют списки пропавших без вести. <strong><a href="{{ "/komandovaniye" | relative_url }}" class="link-dark">Командование</a></strong>, ссылаясь на военную тайну, отказывается сотрудничать с семьями погибших.
                </p>
                  <p class="lead2">
                  Ознакомиться со списками, можно загрузив их ниже. 
                  </p>

<h2 class="cover-heading" style="margin-bottom: 24px;"><strong>Что делать</strong></h2>

<div class="steps-vertical">
    <div class="step-vertical complete">
        <div class="step-vertical-icon">
            <i class="fas fa-check"></i>
        </div>
        <div class="step-vertical-content">
            <h4><strong>Шаг 1. Подпишите петицию</strong></h4>
            <p>Чем больше подписей, тем выше шанс добиться реакции. Поддержка каждого важна.</p>
            <a href="#" class="btn btn-primary">➡ Подписать петицию</a>
        </div>
    </div>
    <div class="step-vertical active">
        <div class="step-vertical-icon">
            <i class="fas fa-envelope"></i>
        </div>
        <div class="step-vertical-content">
            <h4><strong>Шаг 2. Запишите видеообращение</strong></h4>
            <p>Личный рассказ – это возможность привлечь внимание. На странице есть примеры, чтобы было проще записать свое обращение.</p>
            <a href="#" class="btn btn-primary">➡ Записать видео</a>
        </div>
    </div>
    <div class="step-vertical">
        <div class="step-vertical-icon">
            <i class="fas fa-cog"></i>
        </div>
        <div class="step-vertical-content">
            <h4><strong>Шаг 3. Напишите открытое письмо</strong></h4>
            <p>Используйте готовый шаблон, добавьте детали о своем родственнике и отправьте в официальные инстанции.</p>
            <a href="#" class="btn btn-primary">➡ Написать письмо</a>
        </div>
    </div>
</div>

  
            </div>
      </div>


</div>
