---
layout: default
---

<div class="inner cover">
<nav class="block_top"></nav>
<div class="bs-docs-header" id="content" tabindex="-1" style="background-image: url(https://russian-torturers.com/assets/img/pictures/profile-bg.png);">
      <div class="container">
        <h1>Components</h1>
        <p>Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.</p>
      </div>
    </div>
  <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
  ...
</div>
    </p>
</div>
