---
layout: default
---

<div class="content-container">
      <nav class="block_top"></nav>
      <div class="bs-docs-header" id="content" tabindex="-1" style="background-image: url(/177opmp/assets/a9d4aaf44f5d487_1280x854.jpg);">
            <div class="container">
                  <div class="row">
                    <div class="col-md-2">
                        <div class="block__head-photo"><img  alt="Logo" src="/177opmp/assets/logo.png"></div>
                    </div>
                    <div class="col-md-8" style="color: #fff;">
                        <h5><strong>177 опмп, в/ч 87852</strong></h5>
                        <h1>177-й отдельный гвардейский<br> полк морской пехоты</h1>
                        <p>тактическое формирование Береговых войск ВМФ Российской Федерации.</p>
                    </div>
                  </div>
            </div>
      </div>
      <div class="block_main"> 
      <div class="block_description">
        <h2 class="cover-heading">Описнание</h2>
          <p class="lead2">Полк сформирован в 2018 году на базе 414-го и 727-го батальонов морской пехоты, дислоцируется в Каспийске, Дагестан. Личный состав участвовал в боевых действиях в Чечне, Сирии и Украине. В 2023 году полку присвоено звание «гвардейский». </p>
          <p class="lead2">
В ходе боевых действий на Украине 177-й отдельный гвардейский полк морской пехоты понёс потери среди личного состава. Семьи военнослужащих, обеспокоенные отсутствием информации, формируют списки пропавших без вести. 
          </p>
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img src="..." alt="...">
                </a>
              </div>
            </div>
      </div>  
             </div>  
</div>
