---
layout: default
---

<div class="content-container d-flex align-items-center justify-content-center" style="background-color: #ffffff; margin-bottom: 70px;">


      <div class="block_description">
        <h2 class="cover-heading" style="margin-bottom: 24px;"><strong>Подпишите петицию – помогите добиться справедливости!</strong></h2>
            <ul>
                <li>Официального расследования пропажи бойцов в/ч 87852.</li>
                <li>Организации поисковых операций для установления судьбы военнослужащих.</li>
                <li>Немедленной эвакуации раненых и погибших.</li>
                <li>Открытой отчетности перед родственниками – семьи имеют право знать правду.</li>
                <li>Справедливых выплат семьям погибших и безвестно пропавших.</li>
                <li>Безосновательное присвоение статуса БО/БП.</li>
            </ul>
            <p class="lead2">Каждая подпись – это наш шаг к тому, чтобы власти перестали молчать и начали действовать!</p>

        <div class="card">
            <div class="card-body">
                <h3>Как подписать петицию?</h3>
                <p>Вы можете помочь всего за 2 минуты!</p>
                <ol>
                    <li><strong>Шаг 1:</strong> Перейдите по ссылке на сайт Change.org.</li>
                    <li><strong>Шаг 2:</strong> Введите имя, фамилию и email в форму регистрации.</li>
                    <li><strong>Шаг 3:</strong> Поставьте галочку «Да! Я хочу узнать, когда эта петиция победит…».</li>
                    <li><strong>Шаг 4:</strong> Нажмите красную кнопку «Подписать петицию».</li>
                    <li><strong>Шаг 5:</strong> На следующей странице выберите «Нет, я поделюсь петицией в соцсетях».</li>
                    <li><strong>Шаг 6:</strong> Перейдите в вашу электронную почту и подтвердите подпись.</li>
                </ol>
            </div>
        </div>




</div>



</div>
