---
layout: default
---

<div class="container py-5">
  <div class="row g-4">

    <!-- Карточка видео -->
    <div class="col-md-6 col-lg-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/VIDEO_ID_1" title="Видео 1" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Название видео</h5>
          <p class="card-text">Краткое описание содержания видео или история, связанная с фондом.</p>
        </div>
      </div>
    </div>

    <!-- Вторая карточка -->
    <div class="col-md-6 col-lg-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/VIDEO_ID_2" title="Видео 2" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Второе видео</h5>
          <p class="card-text">Описание, история героя, отчёт фонда или благодарность.</p>
        </div>
      </div>
    </div>

    <!-- Третья карточка -->
    <div class="col-md-6 col-lg-4">
      <div class="card h-100 shadow-sm border-0">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/VIDEO_ID_3" title="Видео 3" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Третье видео</h5>
          <p class="card-text">Можно добавить дату или имя героя, к которому относится видео.</p>
        </div>
      </div>
    </div>

  </div>
</div>
